#content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.carre {
    display: flex;
    width: 200px;
    height: 200px;
    background-color: rgb(136, 174, 136);
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;
}
